node_modules/
.DS_Store
.env
dist/
.vscode/
.idea/
coverage/
*.log
*.tmp
*.bak
*.swp
.cache/
build/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.pem
*.key
*.crt
*.p12

*.out
*.pid
*.seed
*.pid.lock
*.orig
*.rej
*.swo

*.txt
